##########GROUNDWORK#############################################################################################
#GW
#GW	my1_hosts.cfg generated 2011-06-08 13:55:33 by super_user from monarch.cgi nagios v 3.x
#GW
##########GROUNDWORK#############################################################################################



define host {
	host_name			my1
	alias				my1
	address				172.30.255.4
	use				generic-host
	active_checks_enabled		0
}


define host {
	host_name			my2
	alias				my2
	address				172.30.255.3
	use				generic-host
	active_checks_enabled		0
}

